<div>
    <div>
        <div>
            <span>Seus créditos:</span>
            <span>{{ credits | currency: 'BRL' }}</span>
        </div>
    </div>

    <div>
        <label>Joga quanto pae?</label>
        <input type="number" [(ngModel)]="cost" />
    </div>

    <div>
        <p [@sorteioAnim]="animationState">
            @for(opt of currents; track $index) {
                <span>
                    <span>{{opt}}</span>
                    <small>{{ (opt | option).multi | percent}}</small>
                </span>
            }
        </p>
    </div>

    <div>
        <button (click)="startSorting()" [disabled]="credits < cost">
            Apostar
        </button>
    </div>
</div>