<div>
    <p>Seus créditos: {{ credits | currency: 'BRL' }}</p>
</div>

<p>
    Joga quanto pae?
    <input type="number" [(ngModel)]="cost" />
</p>

<div>
    <p style="display: flex; gap: 2rem;" [@sorteioAnim]="animationState">
        @for(opt of currents; track $index) {
            <span style="position: relative;">
                {{opt}}
                <small style="font-size: 6px; position: absolute; bottom: 5; right: 5;">{{ optionsMap[opt].multi | percent}}</small>
            </span>
        }
    </p>
</div>

<button (click)="startSorting()" [disabled]="credits < cost">
    Apostar
</button>